* {
    margin: 0 auto;
    padding: 0;
}

body {
    background: #202020;
    color: white;
}

.page {
    min-width: 1100px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header{
    background-image: url("./image/header.jpg");
    width: 100%;
    height: 100px;
    background-size: contain;
    /*position: static;*/
}

.header__logo{
    background-image: url("./image/logo.png");
    width: 456px;
    height: 78px;
    background-size: contain;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 10px;
}

.content{
    margin-top: 75px;
    width: 65%;
    text-align: justify;
    max-width: 1600px;
    min-width: 1100px;
}

.content__title{
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    line-height: 1.15;
    font-size: 30px;
    font-weight: bold;
}

.content__text {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: normal;
    line-height: 32px;
    font-size: 20px;
    min-width: 784px;
}

.menu{
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 20px 20px;
    justify-content: center;
}

.menu__element{
    width: 280px;
    height: 280px;
    background-color: white;
    border: 1px solid black;
}

.menu__title{
    color: black;
    text-align: center;
}

.Biography{
    background-image: url("./image/1.gif");
    background-size: cover;

}

.top-pictures{
    background-image: url("./image/22.gif");
    background-size: cover
}

.works{
    background-image: url("./image/work.gif");
    background-size: cover
}

.street-art{
    background-image: url("./image/streatart.gif");
    background-size: cover
}

.link:hover{
    border-radius: 5px;
    border: 2px solid snow;
    opacity: 0.5;
}

.author{
    padding-top: 10px;
    text-align: center;
    width: 60%;
    text-align: center;
    margin: auto;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.footer{
    margin-top: 75px;
    height: 100px;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to top, #222831, #393E46, #00ADB5, #EEEEEE ) 100% 0 0 0;
}

.picture-non{
    justify-content: center;
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 3px solid white;

}

/*Biography*/
.picture{
    justify-content: center;
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 640px;
    height: 360px;
    border: 3px solid white;
}

.side__pic{
    z-index: -1;
    position: absolute;
    left: 0px;
}

.picture__Inst{
    width: 400px;
    height: 505px;
}

.side__pic-right{
    z-index: -1;
    position: absolute;
    right: 20px;
}

.line{
    z-index: -1;
    margin-top: 20px;
    position: absolute;
    left: 0;
    right: 0;
    width: 34%;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to top, #222831, #393E46, #00ADB5, #EEEEEE ) 100% 0 0 0;
}

.content__title-dark{
    background-color: #202020;
    margin: 0 auto;
    padding: 0;
    width: 280px;
}

/* works */
/* Slideshow container */
.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #00ADB5;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #00ADB5;
    font-size: 25px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #00ADB5;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.frame{
    background-image: url("./image/frame-2.png");
    width: 100%;
    height: 200px;
    background-size: cover;
    margin: 0 auto;
}

.text-frame{
    padding-right: 46px;
    padding-top: 47px;
    padding-left: 46px;
}

.picture-sp{
    justify-content: center;
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 3px solid white;
}

.text-dop{
    color: #D20F3B;
}

.picture__title{
    text-align: center;
    margin-top: 0;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 25px;
}


